@model IEnumerable<TNT.Models.Eventos>
@{
    ViewBag.Title = "Login";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TNT</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
<style>
  .iconos-home { transition: all .2s ease-in-out;margin-bottom:5%; }
  .iconos-home:hover { transform: scale(1.3);z-index:2 }

    </style>
    
    <header id="header" role="banner">
        <div class="main-nav">
            <div class="container">
                
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img class="img-responsive" src="~/images/logo_tnt.png" alt="logo" style="width: 150px;">
                        </a>
                        <ul  style="display: block;list-style: none;">
                            <li class="iconos-home"><a data-toggle="modal" data-target="#modalConciertos" class="" href="#"><img class="img-responsive" src="~/images/icon_conciertos.png" alt="logo" style="width: 70px;"></a></li>
                            <li class="iconos-home"><a data-toggle="modal" data-target="#modalVarios" class="" href="#"><img class="img-responsive" src="~/images/icon_articulos.png" alt="logo" style="width: 70px;"></a></li>
                            <li class="iconos-home"><a data-toggle="modal" data-target="#modalDeportes" class="" href="#"><img class="img-responsive" src="~/images/icon_deporte.png" alt="logo" style="width: 70px;"></a></li>
                            <li class="iconos-home"><a data-toggle="modal" data-target="#modalViajesTurismo" class="" href="#"><img class="img-responsive" src="~/images/icon_viajes_turismo.png" alt="logo" style="width: 70px;"></a></li>
                            <li class="iconos-home"><a data-toggle="modal" data-target="#modalCultura" class="" href="#"><img class="img-responsive" src="~/images/icon_cultura.png" alt="logo" style="width: 70px;"></a></li>
                        </ul>

                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            
                            @if (Request.IsAuthenticated)
                            {
                                if (User.IsInRole("usuario"))
                                {
                                    <li>@Html.ActionLink(User.Identity.Name, "edit", "Personas", routeValues: new { id = Session["persona_id"] }, htmlAttributes: new { @class = "username", title = "Administrar" })</li>
                                }

                            }
                            else
                            {
                                <li><a data-toggle="modal" data-target="#myLogin" class="no-scroll" href="#">LOGIN</a></li>
                            }
                            <li class="scroll"><a href="#contact">Contactar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

    <section id="home">
        <div id="main-slider" class="carousel slide" data-ride="carousel" data-pause="false">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="~/images/slider/concert.jpg" style="max-height:639px;" alt="slider">
                    
                </div>
                <div class="item">
                    <img class="img-responsive" src="~/images/slider/sport.jpg" style="max-height:639px;" alt="slider">
                    
                </div>
                <div class="item">
                    <img class="img-responsive" src="~/images/slider/gift.jpg" style="max-height:639px;" alt="slider">
                   
                </div>
                <div class="item">
                    <img class="img-responsive" src="~/images/slider/voyage.jpg" style="max-height:639px;" alt="slider">
                   
                </div>
                <div class="item">
                    <img class="img-responsive" src="~/images/slider/trip.jpg" style="max-height:639px;" alt="slider">
                   
                </div>
            </div>
        </div>
    </section>
    <!--/#home-->
    <div class="modal fade bs-example-modal-sm" id="myLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" >
            <div class="modal-content">
                
                    
                        <div class="col-md-12">
                            <div class="form-login">
                                <input type="email" id="userName" class="form-control input-sm chat-input" placeholder="email" />
                                <br />
                                <input type="password" id="userPassword" class="form-control input-sm chat-input" />
                                <br />
                                <div class="wrapper">
                                    <span class="group-btn">
                                        <button id="btn_login" class="btn btn-danger btn-md">login<i class="fa fa-sign-in"></i></button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    
                </div>
               
            
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="modalConciertos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- thumb navigation carousel -->
                    <div class="col-md-12 hidden-sm hidden-xs" id="slider-thumbs">

                        <!-- thumb navigation carousel items -->
                        <ul class="list-inline">
                            @{
                                var i = 0;
                                var index = 0;
                                foreach (var item in ViewBag.eventosConciertos)
                                {
                                    index = i;
                                    var itemClass = i++ == 0 ? "active" : " ";
                                    var carouselSelId = "carousel-selector-"+i;
                                    <li>
                                        <a id="@carouselSelId" class="selected">
                                            <img src="@item.img_url" style="max-height:80px;max-width:100px;width:auto;height:auto" class="img-responsive">
                                        </a>
                                    </li>
                                    
                                }
                            }
                            
                        </ul>

                    </div>


                    <!-- main slider carousel -->
                    <div class="row">
                        <div class="col-md-12" id="slider">

                            <div class="col-md-12" id="carousel-bounding-box">
                                <div id="myCarouselConciertos" class="carousel slide">
                                    <!-- main slider carousel items -->
                                    <div class="carousel-inner">
                                    @{
                                    i = 0;
                                    foreach (var item in ViewBag.eventosConciertos)
                                    {
                                        var itemClass = i++ == 0 ? "item active" : "item";
                                        <div class="@itemClass" data-slide-number="@i">
                                            <img src="@item.img_url" class="img-responsive">
                                        </div>
                                    }
                                    }
                                    </div>
                                    <a class="carousel-control left" href="#myCarouselConciertos" data-slide="prev">‹</a>

                                    <a class="carousel-control right" href="#myCarouselConciertos" data-slide="next">›</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--/main slider carousel-->
                    

                    
                </div>
               
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="modalVarios" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-md-12">
                        <div id="myCarouselVarios" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                @{
                                    i = 0;
                                    index = 0;
                                    foreach (var item in ViewBag.eventosVarios)
                                    {
                                        index = i;
                                        var itemClass = i++ == 0 ? "active" : " ";
                                        <li data-target="#myCarouselVarios" data-slide-to="@index" class="@itemClass">
                                        </li>
                                    }
                                }
                            </ol>
                            <!-- Images-->
                            <div class="carousel-inner" role="listbox">
                                @{
                                    i = 0;
                                    foreach (var item in ViewBag.eventosVarios)
                                    {
                                        var itemClass = i++ == 0 ? "item active" : "item";
                                        <div class="@itemClass">
                                            <a href="@Url.Action("ComprarTicketsUsuario", "Ticket", new {id=@item.id })"><img src="@item.img_url" style="height:300px;width:100%;" /></a>
                                        </div>
                                    }
                                }
                            </div>

                            <!-- Left Right Arrows -->
                            <a class="left carousel-control" href="#myCarouselVarios" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarouselVarios" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="modalDeportes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-md-12">
                        <div id="myCarouselDeportes" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                @{
                                    i = 0;
                                    index = 0;
                                    foreach (var item in ViewBag.eventosDeportes)
                                    {
                                        index = i;
                                        var itemClass = i++ == 0 ? "active" : " ";
                                        <li data-target="#myCarouselDeportes" data-slide-to="@index" class="@itemClass">
                                        </li>
                                    }
                                }
                            </ol>
                            <!-- Images-->
                            <div class="carousel-inner" role="listbox">
                                @{
                                    i = 0;
                                    foreach (var item in ViewBag.eventosDeportes)
                                    {
                                        var itemClass = i++ == 0 ? "item active" : "item";
                                        <div class="@itemClass">
                                            <a href="@Url.Action("ComprarTicketsUsuario", "Ticket", new {id=@item.id })"><img src="@item.img_url" style="height:300px;width:100%;" /></a>
                                        </div>
                                    }
                                }
                            </div>

                            <!-- Left Right Arrows -->
                            <a class="left carousel-control" href="#myCarouselDeportes" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarouselDeportes" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="modalViajesTurismo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-md-12">
                        <div id="myCarouselViajes" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                @{
                                    i = 0;
                                    index = 0;
                                    foreach (var item in ViewBag.eventosViajesTurismo)
                                    {
                                        index = i;
                                        var itemClass = i++ == 0 ? "active" : " ";
                                        <li data-target="#myCarouselViajes" data-slide-to="@index" class="@itemClass">
                                        </li>
                                    }
                                }
                            </ol>
                            <!-- Images-->
                            <div class="carousel-inner" role="listbox">
                                @{
                                    i = 0;
                                    foreach (var item in ViewBag.eventosViajesTurismo)
                                    {
                                        var itemClass = i++ == 0 ? "item active" : "item";
                                        <div class="@itemClass">
                                            <a href="@Url.Action("ComprarTicketsUsuario", "Ticket", new {id=@item.id })"><img src="@item.img_url" style="height:300px;width:100%;" /></a>
                                        </div>
                                    }
                                }
                            </div>

                            <!-- Left Right Arrows -->
                            <a class="left carousel-control" href="#myCarouselViajes" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarouselViajes" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="modalCultura" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-md-12">
                        <div id="myCarouselCultura" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                @{
                                    i = 0;
                                    index = 0;
                                    foreach (var item in ViewBag.eventosCultura)
                                    {
                                        index = i;
                                        var itemClass = i++ == 0 ? "active" : " ";
                                        <li data-target="#myCarouselCultura" data-slide-to="@index" class="@itemClass">
                                        </li>
                                    }
                                }
                            </ol>
                            <!-- Images-->
                            <div class="carousel-inner" role="listbox">
                                @{
                                    i = 0;
                                    foreach (var item in ViewBag.eventosCultura)
                                    {
                                        var itemClass = i++ == 0 ? "item active" : "item";
                                        <div class="@itemClass">
                                            <a href="@Url.Action("ComprarTicketsUsuario", "Ticket", new {id=@item.id })"><img src="@item.img_url" style="height:300px;width:100%;" /></a>
                                        </div>
                                    }
                                }
                            </div>

                            <!-- Left Right Arrows -->
                            <a class="left carousel-control" href="#myCarouselCultura" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarouselCultura" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    




   

    <!--/#footer-->

    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="~/Scripts/gmaps.js"></script>
    <script type="text/javascript" src="~/Scripts/smoothscroll.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Scripts/coundown-timer.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.nav.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script>
        $('[id^=carousel-selector-]').click(function () {
            var id_selector = $(this).attr("id");
            var id = id_selector.substr(id_selector.length - 1);
            id = parseInt(id);
            $('#myCarouselConciertos').carousel(id);
            $('[id^=carousel-selector-]').removeClass('selected');
            $(this).addClass('selected');
        });

        // when the carousel slides, auto update
        $('#myCarouselConciertos').on('slid', function (e) {
            var id = $('.item.active').data('slide-number');
            id = parseInt(id);
            $('[id^=carousel-selector-]').removeClass('selected');
            $('[id=carousel-selector-' + id + ']').addClass('selected');
        });
        
         $('#btn_login').click(function () {
             var data = { email: $('#userName').val(),password:$('#userPassword').val()};
             $.ajax({
                 url: '/Account/LoginJSON',
                 type: "POST",
                 data: JSON.stringify(data),
                 dataType: "JSON",
                 contentType: "application/json",
                 success: function (response) {
                     console.log(response);
                     location.reload();
                 },
                 error: function () {

                 }
             });
         });
        </script>
    <script>
    
    
        function CargaMapa(index,lat,lng) {
        var map;
        map = new GMaps({
            el: $('.gmap').get(index-1),
            lat: lat,
            lng: lng,
            scrollwheel: false,
            zoom: 16,
            zoomControl: false,
            panControl: false,
            streetViewControl: false,
            mapTypeControl: false,
            overviewMapControl: false,
            clickable: false
        });

        var image = 'images/map-icon.png';
        map.addMarker({
            lat: lat,
            lng: lng,
            icon: image,
            animation: google.maps.Animation.DROP,
            verticalAlign: 'bottom',
            horizontalAlign: 'center',
            backgroundColor: '#3e8bff',
        });


        var styles = [

        {
            "featureType": "road",
            "stylers": [
            { "color": "#b4b4b4" }
            ]
        }, {
            "featureType": "water",
            "stylers": [
            { "color": "#d8d8d8" }
            ]
        }, {
            "featureType": "landscape",
            "stylers": [
            { "color": "#f1f1f1" }
            ]
        }, {
            "elementType": "labels.text.fill",
            "stylers": [
            { "color": "#000000" }
            ]
        }, {
            "featureType": "poi",
            "stylers": [
            { "color": "#d9d9d9" }
            ]
        }, {
            "elementType": "labels.text",
            "stylers": [
            { "saturation": 1 },
            { "weight": 0.1 },
            { "color": "#000000" }
            ]
        }

        ];

        map.addStyle({
            styledMapName: "Styled Map",
            styles: styles,
            mapTypeId: "map_style"
        });

        map.setStyle("map_style");
    }
        function CargaContadoresEventos(index, eventDate) {
            console.log(eventDate);
        thisEl = $('#countdown').get(index-1);
        eventDate = Date.parse(eventDate) / 1000;
        //console.log(eventDate);
        //console.log(settings['date']);
        currentDate = Math.floor($.now() / 1000);



        seconds = eventDate - currentDate;

        days = Math.floor(seconds / (60 * 60 * 24)); //calculate the number of days
        seconds -= days * 60 * 60 * 24; //update the seconds variable with no. of days removed

        hours = Math.floor(seconds / (60 * 60));
        seconds -= hours * 60 * 60; //update the seconds variable with no. of hours removed

        minutes = Math.floor(seconds / 60);
        seconds -= minutes * 60; //update the seconds variable with no. of minutes removed

        //conditional Ss
        if (days == 1) { thisEl.find(".timeRefDays").text("day"); } else { thisEl.find(".timeRefDays").text("days"); }
        if (hours == 1) { thisEl.find(".timeRefHours").text("hour"); } else { thisEl.find(".timeRefHours").text("hours"); }
        if (minutes == 1) { thisEl.find(".timeRefMinutes").text("minute"); } else { thisEl.find(".timeRefMinutes").text("minutes"); }
        if (seconds == 1) { thisEl.find(".timeRefSeconds").text("second"); } else { thisEl.find(".timeRefSeconds").text("seconds"); }

        //logic for the two_digits ON setting
        //if (settings['format'] == "on") {
        days = (String(days).length >= 2) ? days : "0" + days;
        hours = (String(hours).length >= 2) ? hours : "0" + hours;
        minutes = (String(minutes).length >= 2) ? minutes : "0" + minutes;
        seconds = (String(seconds).length >= 2) ? seconds : "0" + seconds;
        //}

        //update the countdown's html values.
        if (!isNaN(eventDate)) {
            thisEl.find(".days").text(days);
            thisEl.find(".hours").text(hours);
            thisEl.find(".minutes").text(minutes);
            //thisEl.find(".seconds").text(seconds);
        } else {
            console.log("error");
            clearInterval(interval);
        }
    }
    </script>
</body>
</html>