@model TNT.Models.Ticket

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Ticket</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.codigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.butaca)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.butaca)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Eventos.nombre_evento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Eventos.nombre_evento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.valida)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.valida)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.utilizada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.utilizada)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sectores.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sectores.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.codigo_recaudacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.codigo_recaudacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_uso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_uso)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Volver a la lista", "Index")
    </p>
}
