<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">


    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <style>
        #overlay {
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: #000;
            opacity: 0.8;
            filter: alpha(opacity=80);
            z-index:9999;
        }

        #loading {
            width: 100px;
            height: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -28px 0 0 -25px;
        }
        
    </style>
</head>
<body>
    <div id="overlay" style="display:none;">
        <img id="loading" src="~/Images/ajax-loader.gif" />
    </div>
    <header id="header" role="banner">
        <div class="main-nav">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            <img class="img-responsive" src="~/images/logo_tnt.png" alt="logo" style="width: 150px;">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">

                        <ul class="nav navbar-nav navbar-right">

                            <li class="scroll"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                            @if (Request.IsAuthenticated)
                            {
                                if (User.IsInRole("usuario"))
                                {
                                <li><a class="no-scroll" href="@Url.Action("VerEventosUsuario", "Event")">Busqueda avanzada</a></li>

                                }
                                if (User.IsInRole("empresa"))
                                {
                                <li><a class="no-scroll" href="@Url.Action("Index", "Event")">Busqueda avanzada</a></li>
                                <li><a class="no-scroll" href="@Url.Action("Index", "Sector")">Sectores</a></li>
                                <li><a class="no-scroll" href="@Url.Action("Index", "Ticket")">Tickets</a></li>
                                <li><a class="no-scroll" href="@Url.Action("Index", "Lugar")">Lugares</a></li>
                                }
                                if (User.IsInRole("admin"))
                                {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Busqueda avanzada<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="no-scroll" href="@Url.Action("Index", "Event")">Eventos Activos</a></li>
                                        <li><a class="no-scroll" href="@Url.Action("PendientesHabilitacion", "Event")">Pendientes</a></li>
                                        <li><a class="no-scroll" href="@Url.Action("VerTodosEventos", "Event")">Todos los eventos</a></li>
                                        <li><a class="no-scroll" href="@Url.Action("Index", "Sector")">Sectores</a></li>
                                        <li><a class="no-scroll" href="@Url.Action("Index", "Lugar")">Lugares</a></li>
                                        <li><a class="no-scroll" href="@Url.Action("Index", "Ticket")">Tickets</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Empresas<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="no-scroll" href="@Url.Action("Index", "Empresas")">Empresas</a></li>
                                        <li><a class="no-scroll" href="@Url.Action("Index", "Compra")">Compra</a></li>
                                        <li><a class="no-scroll" href="@Url.Action("BuscarTicket", "Ticket")">Validar Ticket</a></li>
                                        <li><a class="no-scroll" href="@Url.Action("SimuladorPago", "Compra")">Simulador de Pago</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                                    <ul class="dropdown-menu">

                                        <li><a class="no-scroll" href="@Url.Action("Index", "Comisiones")">Comisiones</a></li>
                                        <li><a class="no-scroll" href="@Url.Action("Index", "TiposEvento")">Tipos de Evento</a></li>
                                        <li><a class="no-scroll" href="@Url.Action("Index", "PuntosPagos")">Puntos de Pago</a></li>
                                        <li><a class="no-scroll" href="@Url.Action("Index", "Help")">API</a></li>
                                    </ul>
                                </li>



                                }
                                <li class="scroll">
                                    @if (User.IsInRole("empresa"))
                                    {
                                    @Html.ActionLink(User.Identity.Name, "edit", "empresas", routeValues: new { id = Session["empresa_id"] }, htmlAttributes: new { @class = "username", title = "Administrar" })
                                    }
                                    @if (User.IsInRole("usuario"))
                                    {
                                        @Html.ActionLink(User.Identity.Name, "edit", "Personas", routeValues: new { id = Session["persona_id"] }, htmlAttributes: new { @class = "username", title = "Administrar" })
                                    }
                                    @if (User.IsInRole("admin"))
                                    {
                                        <div class="username">@User.Identity.Name</div>
                                    }

                                </li>
                                <li class="scroll">
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a style="float:right" class="scroll" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                                    }

                                </li>
                            }
                            else
                            {
                                @*<li class="scroll active"><a href="@Url.Action("Index", "Home")">Inicio</a></li>*@
                                <li><a class="no-scroll" href="@Url.Action("Register", "Account")">REGISTRARSE</a></li>
                                @*<li><a class="no-scroll" href="@Url.Action("Login","Account")">LOGIN</a></li>*@

                                @*<li class="scroll"><a href="#contact">Contactar</a></li>*@

                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="body">
        <div class="container-fluid">
            <div class="row-fluid">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                @RenderBody()
            </div>
        </div>

    </div>
    <script>
        $(function () {
            $(document).ajaxSend(function () {
                $('#overlay').show();
            });

            $(document).ajaxComplete(function () {
                $('#overlay').hide();
            })

            window.onbeforeunload = function () {
                $('#overlay').show();
            }
        })
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
