@model TNT.Models.Puntos_pago

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Puntos_pago</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.departamento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.departamento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.latitud)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.latitud)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.longitud)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.longitud)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Volver a la lista", "Index")
    </p>
}
