@model IEnumerable<TNT.Models.Puntos_pago>

@{
    ViewBag.Title = "ComprarTicketsUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("usuario") || !User.Identity.IsAuthenticated)
{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <style>
        html {
            min-height: 100%;
            height: 100%;
            background-color: #222;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <table id="tbl-puntospago" class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Departamento</th>
                        <th>Mapa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.nombre
                            </td>
                            <td>
                                @item.direccion
                            </td>
                            <td>@item.departamento</td>
                            <td><button class="btn btn-primary view-map" data-lat="@item.latitud" data-lon="@item.longitud">Ver mapa</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="mapa_evento col-md-12" style="margin-top:0.75em">
                                <div id="map">
                                    <div id="gmap-wrap">
                                        <div id="gmap-punto" class="gmap" style="height:300px; width:100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAvkQ_MKQSk02eTdBv9FVAsoPQkGKOylL0"></script>
    <script type="text/javascript" src="~/Scripts/gmaps.js"></script>
    <script type="text/javascript" src="~/Scripts/smoothscroll.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Scripts/coundown-timer.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.nav.js"></script>
    <script>
        $(function () {
            $('#tbl-puntospago').DataTable({
                //"columns": [
                //    null,
                //    null,
                //    null,
                //    { "orderable": false },
                //    { "orderable": false },
                //    { "orderable": false }
                //],
                "dom": '<"row"<"col-xs-6"f><"col-xs-6"l>tp>' +
                        "<'row'4<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "language": {
                    "decimal": "",
                    "emptyTable": "No se hallaron datos disponibles",
                    "info": "Viendo _START_ a _END_ de _TOTAL_ registross",
                    "infoEmpty": "Viendo 0 a 0 de 0 registros",
                    "infoFiltered": "(encontrados desde _MAX_ registros)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Viendo _MENU_ registros",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Buscar:",
                    "zeroRecords": "No se hallaron coincidencias",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                }
            });

            var lat;
            var lon;
            $('.view-map').click(function (e) {
                e.preventDefault();
                var $this = $(this);
                lat = $this.data('lat');
                lon = $this.data('lon');
                $('#gmap-punto').html('');
                $('.modal').modal('show');
            });

            $('.modal').on('shown.bs.modal', function () {
                CargaMapa(lat, lon);
                $('#gmap-punto').css('height', '300px').css('width', '100%');
            });
        })

        function CargaMapa(lat, lng) {
            console.log(lat);
            console.log(lng);
            var map;
            map = new GMaps({
                el: '#gmap-punto',
                lat: lat,
                lng: lng,
                scrollwheel: false,
                zoom: 16,
                zoomControl: false,
                panControl: false,
                streetViewControl: false,
                mapTypeControl: false,
                overviewMapControl: false,
                clickable: false
            });

            var image = '../../images/map-icon.png';
            map.addMarker({
                lat: lat,
                lng: lng,
                icon: image,
                animation: google.maps.Animation.DROP,
                verticalAlign: 'bottom',
                horizontalAlign: 'center',
                backgroundColor: '#3e8bff',
            });


            var styles = [

            {
                "featureType": "road",
                "stylers": [
                { "color": "#b4b4b4" }
                ]
            }, {
                "featureType": "water",
                "stylers": [
                { "color": "#d8d8d8" }
                ]
            }, {
                "featureType": "landscape",
                "stylers": [
                { "color": "#f1f1f1" }
                ]
            }, {
                "elementType": "labels.text.fill",
                "stylers": [
                { "color": "#000000" }
                ]
            }, {
                "featureType": "poi",
                "stylers": [
                { "color": "#d9d9d9" }
                ]
            }, {
                "elementType": "labels.text",
                "stylers": [
                { "saturation": 1 },
                { "weight": 0.1 },
                { "color": "#000000" }
                ]
            }

            ];

            map.addStyle({
                styledMapName: "Styled Map",
                styles: styles,
                mapTypeId: "map_style"
            });

            map.setStyle("map_style");

        }
    </script>
}
else
{
    <div class="page-header">
        <h1>Lugares <small>Listado de lugares</small></h1>
    </div>
    <div class="container">
        <div class="row">
            <p>
                @Html.ActionLink("Crear Punto de Pago", "Create", new { id = 1 }, htmlAttributes: new { @class = "btn btn-success" })
            </p>
            <input id="search" placeholder="Buscar..." />
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.departamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.latitud)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.longitud)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr data-state="ticket">
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.departamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.latitud)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.longitud)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.id }, htmlAttributes: new { @class = "btn btn-success" })
                            @Html.ActionLink("Borrar", "Delete", new { id = item.id }, htmlAttributes: new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
    <script>
        $("input#search").keyup(function () {
            var filter = $(this).val();
            var regExPattern = "gi";
            var regEx = new RegExp(filter, regExPattern);
            $("table tr").each(function () {
                if ($(this).data('state'))
                    if (
                        $(this).text().search(new RegExp(filter, "i")) < 0
                        && $(this).data('state').search(regEx) < 0
                    ) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
            });
        });
    </script>
}