@model TNT.Models.Personas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Personas</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apellidos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apellidos)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cedula_identidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cedula_identidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_nacimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_nacimiento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_registro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_registro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_modificacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_modificacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.numero_celular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numero_celular)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuarios.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuarios.email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
