@model TNT.Models.Personas

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar datos de usuario</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Datos personales</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.apellidos)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apellidos)
            @Html.ValidationMessageFor(model => model.apellidos)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cedula_identidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cedula_identidad)
            @Html.ValidationMessageFor(model => model.cedula_identidad)
        </div>    
        <div class="editor-label">
            @Html.LabelFor(model => model.direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.direccion)
            @Html.ValidationMessageFor(model => model.direccion)
        </div>
                      
        <div class="editor-label">
            @Html.LabelFor(model => model.numero_celular)
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.numero_celular)
            @Html.ValidationMessageFor(model => model.numero_celular)
        </div>
        @Html.HiddenFor(model => model.id_usuario)
       
        <div class="form-group">
            <input type="submit" value="Grabar" class="btn btn-danger" />
            <a href="@Url.Action("Index", "Home")" class="btn btn-default" >Ir al inicio</a>
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
