@model  TNT.Models.Nuevo_Usuario
@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Cree una cuenta nueva.</h2>
</hgroup>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Formulario de registro</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.email, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                <span id="helpBlock" class="help-block">@Html.ValidationMessageFor(m => m.email)</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.password, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-6">
                @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                <span id="helpBlock" class="help-block">@Html.ValidationMessageFor(m => m.password)</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.password_confimacion, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-6">
                @Html.PasswordFor(m => m.password_confimacion, new { @class = "form-control" })
                <span id="helpBlock" class="help-block">@Html.ValidationMessageFor(m => m.password_confimacion)</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.numero_celular, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.numero_celular, new { @class = "form-control" })
                <span id="helpBlock" class="help-block">@Html.ValidationMessageFor(m => m.numero_celular)</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.nombre, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
                <span id="helpBlock" class="help-block">@Html.ValidationMessageFor(m => m.nombre)</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.apellidos, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.apellidos, new { @class = "form-control" })
                <span id="helpBlock" class="help-block">@Html.ValidationMessageFor(m => m.apellidos)</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.carnet_identidad, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.carnet_identidad, new { @class = "form-control" })
                <span id="helpBlock" class="help-block">@Html.ValidationMessageFor(m => m.carnet_identidad)</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.direccion, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.direccion, new { @class = "form-control" })
                <span id="helpBlock" class="help-block">@Html.ValidationMessageFor(m => m.direccion)</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.departamento, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.departamento, new List<SelectListItem>() 
                {
                    new SelectListItem() {  Text = "LA PAZ", Value = "LA PAZ"},
                    new SelectListItem() {  Text = "ORURO", Value = "ORURO"},
                    new SelectListItem() {  Text = "POTOSI", Value = "POTOSI"},
                    new SelectListItem() {  Text = "COCHABAMBA", Value = "COCHABAMBA"},
                    new SelectListItem() {  Text = "CHUQUISACA", Value = "CHUQUISACA"},
                    new SelectListItem() {  Text = "TARIJA", Value = "TARIJA"},
                    new SelectListItem() {  Text = "PANDO", Value = "PANDO"},
                    new SelectListItem() {  Text = "BENI", Value = "BENI"},
                    new SelectListItem() {  Text = "SANTA CRUZ", Value = "SANTA CRUZ"}
                }, new { @class = "form-control" })
                <span id="helpBlock" class="help-block">@Html.ValidationMessageFor(m => m.departamento)</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <a href="#">Terminos y condiciones</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
