@model TNT.Models.ReinicioPassword

@{
    ViewBag.Title = "Reiniciar Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recuperar Password</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ingrese su email y un correo le llegara con instrucciones para el reinicio de password</legend>
        <ol>
            <li>
                @Html.LabelFor(model => model.email)
            </li>
            <li class="editor-field">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </li>
        </ol>
        <p>
            <input class="btn btn-danger" type="submit" value="Enviar" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
