@model TNT.Models.Lugares

@{
    ViewBag.Title = "Edit";
}
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
    var marker = null;
    function initialize() {

        var mapProp = {
            center: new google.maps.LatLng($('#latitud').val(), $('#longitud').val()),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        var latitud = Number($('#latitud').val());
        var longitud = Number($('#longitud').val());
        var myLatLng = { lat: latitud, lng: longitud };
        var marker = new google.maps.Marker({ position: myLatLng, map: map });
        google.maps.event.addListener(map, 'click', function (event) {
            //call function to create marker
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            $('#latitud').val(lat);
            $('#longitud').val(lng);

            //delete the old marker
            if (marker) { marker.setMap(null); }

            //creer à la nouvelle emplacement
            marker = new google.maps.Marker({ position: event.latLng, map: map });
            //alert("Lat=" + lat + "; Lng=" + lng);
        });

    }
    google.maps.event.addDomListener(window, 'load', initialize);
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {

    }
</script>
<h2>Editar Lugar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Lugar</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            Lugar
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre_lugar)
            @Html.ValidationMessageFor(model => model.nombre_lugar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.direccion)
            @Html.ValidationMessageFor(model => model.direccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.capacidad_maxima,"Capacidad Maxima")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.capacidad_maxima)
            @Html.ValidationMessageFor(model => model.capacidad_maxima)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.latitud)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.latitud, "{0:0.000000000000000}")
            @Html.ValidationMessageFor(model => model.latitud)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.longitud)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.longitud, "{0:0.000000000000000}")            
            @Html.ValidationMessageFor(model => model.longitud)
        </div>

        <p>
            <input type="submit" value="Grabar" class="btn btn-danger" />
        </p>
    </fieldset>
}
<div id="googleMap" style="width:500px;height:380px;"></div>

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
